<%- include('../partials/header') %>

<h2><%= recipe.name %></h2>

<h3>Ingredients:</h3>
<p><%= recipe.ingredients %></p>

<h3>Directions:</h3>
<p><%= recipe.directions %></p>

<h3>Prep Time:</h3>
<p><%= recipe.prepTime %></p>

<h3>Cook Time:</h3>
<p><%= recipe.cookTime %></p>

<h3>Ingredients:</h3>
<img src="<%= recipe.picture %>" alt="<%= recipe.name %>">

<h3>Recipe Uploader:</h3>
<img src="<%= recipe.userAvatar %>" alt="Uploader">
<h4><%= recipe.userName %></h4>

<!-- ADD REVIEW FORM -->
<% if (user) { %>
    <h3>Leave a Review:</h3>
    <form action="/recipes/<%= recipe.id %>/reviews" method="POST">
        <textarea name="content" cols="60" rows="10"></textarea>
        <label>Rating:
            <select name="rating">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5" selected>5</option>
            </select>
        </label>
        <button type="submit">Submit Review</button>
    </form>
<% } %>

<!-- LIST OF ALL REVIEWS -->
<h3>Reviews:</h3>
<table>
    <tr>
        <th>User:</th>
        <th>Date:</th>
        <th>Review:</th>
        <th>Rating:</th>
        <th></th>
    </tr>
        <% recipe.reviews.forEach(function(review) { %>
            <tr>
                <td><%= review.userName %></td>
                <td><%= review.createdAt.toLocaleDateString() %></td>
                <td><%= review.content %></td>
                <td><%= review.rating %></td>
                <td>
                    <!-- Does not display delete button if the review does not belong to the signed in user -->
                    <% if (user?._id.equals(review.user)) { %>
                        <form action="/reviews/<%= review.id %>?_method=DELETE" method="POST">
                            <button type="submit">X</button>
                        </form>
                    <% } %>
                </td>
            </tr>
        <% }) %>
</table>

<a href="/recipes/<%= recipe.id %>/edit">Edit</a>

<%- include('../partials/footer') %>